.form {
    width: 100%;
    max-width: 600px;
    min-width: 320px;
    background: #fff;
    padding: 25px;
    .fileInput {
        display: none;
    }
    .fileButton {
        display: block;
        width: 100%;
        margin: 10px 0 15px;
        & > span {
            width: 100%;
        }
    }
}
