.post {
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    .img {
        display: flex;
        width: 100%;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
        &:before {
            display: block;
            float: left;
            content: '';
            padding-top: 100%;
        }
    }
    .caption {
        margin-top: 20px;
        text-transform: uppercase;
    }
    .postTop {
        padding: 15px 0;
        display: flex;
        align-items: center;
    }
    .postUserName {
        display: inline-block;
        margin-left: 10px;
        color: #000000;
    }
    .captionUpdate {
        display: flex;
        align-items: center;
        .captionUpdateIcon {
            margin-left: 10px;
        }
    }
    .controlsBtn {
        margin-left: auto;
    }
}
