.post {
    .img {
        display: flex;
        width: 100%;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
        &:before {
            display: block;
            float: left;
            content: '';
            padding-top: 100%;
        }
    }
    .caption {
        margin-top: 20px;
        text-transform: uppercase;
    }
}
